<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Data Customer</title>
  </head>
  <body>
    <div class="container-fluid">
    <h1 class="text-center">Data Customer</h1>
    <table class="table table-bordered" style="border: 1px solid black;">
      <thead>
        <tr style="background-color: gray;">
          <th>Full Name</th>
          <th>Email</th>
          <th>Bread</th>
          <th>Mustard</th>
          <th>Rum</th>
          <th>Melon</th>
          <th>Fruit Mix</th>
        </tr>
      </thead>
      <tbody>
        <% for (const item of data.data) { %>
        <tr>
          <td style="border: 1px solid black; width: 15%;"><%= item.firstname+" "+item.lastname %> </td>
          <td style="border: 1px solid black; width: 10%; text-align: center;"><%= item.email %> </td>
          <% if(item.item == "Bread"){ %> 
          <td style="border: 1px solid black; width: 15%; text-align: center;"><%= item.quantity %> </td>
          <% } else { %>
            <td style="border: 1px solid black; width: 15%; text-align: center;"><%= 0 %> </td>
          <% } %>
          <% if(item.item == "Mustard"){ %> 
          <td style="border: 1px solid black; width: 15%; text-align: center;"><%= item.quantity %> </td>
          <% } else { %>
            <td style="border: 1px solid black; width: 15%; text-align: center;"><%= 0 %> </td>
          <% } %>
          <% if(item.item == "Rum"){ %> 
            <td style="border: 1px solid black; width: 15%; text-align: center;"><%= item.quantity %> </td>
            <% } else { %>
              <td style="border: 1px solid black; width: 15%; text-align: center;"><%= 0 %> </td>
            <% } %>
          <% if(item.item == "Melon"){ %> 
            <td style="border: 1px solid black; width: 15%; text-align: center;"><%= item.quantity %> </td>
            <% } else { %>
              <td style="border: 1px solid black; width: 15%; text-align: center;"><%= 0 %> </td>
            <% } %>
            <% if(item.item == "Fruit Mix"){ %> 
            <td style="border: 1px solid black; width: 15%; text-align: center;"><%= item.quantity %> </td>
            <% } else { %>
              <td style="border: 1px solid black; width: 15%; text-align: center;"><%= 0 %> </td>
            <% } %>
        <% }; %>
      </tbody>
    </table>
    <div style="margin: 5px 5px; padding: 3px 3px;">Page : <%= data.current_page %>/<%= data.total_page %>  </div>
    <div class="" style="margin:5px 5px; padding: 3px 3px; align-self: right; display: flex;">
        <button class="mt-2 default" id="default">
          <a href="/data/customer" style="text-decoration: none;">PIVOT</a>
        </button>
    </div>

    <% if(data.current_page > 1){ %>
        <div class="" style="margin: 3px 3px; padding: 3px 3px; align-self: right; display: flex;">
          <button>
            <a href="/data/customer/pivot?pageNumber=<%= data.current_page - 1 %> " style="text-decoration: none;">PREVIOUS PAGE</a>
          </button>
        </div>
      <% } %>
      <% if(data.current_page < data.total_page ){ %>
        <% let page= parseInt(data.current_page)+1 %>   
      <div class="" style="margin: 3px 3px; padding: 3px 3px; align-self: right; display: flex;">
        <button>
          <a href="/data/customer/pivot?pageNumber=<%= page %>" style="text-decoration: none;">NEXT PAGE</a>
        </button>
      </div>
      <% } %> 
  
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
  </body>
</html>

<style>
  .invisible {
    visibility:hidden;
  }
  .visible {
    visibility: visible;
  }
</style>